<!DOCTYPE html>
<html>
  <head>
    <title>Wiki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar fixed-top navbar-default" style="background-color:rgb(45, 45, 21)">
      <div class="container">
        <%= link_to "Wikimedia", root_path, class: "navbar-brand" %>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li>
              <%= link_to "New Article", new_article_path %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <p class="notice">
      <%= notice %>
    </p>
    <p class="alert">
      <%= alert %>
    </p>
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <%= yield %>
        </div>
        <div class="col-md-2">
          <ul class="list-group">
            <li>
              <%= link_to "All Articles", root_path, class: "list-group-item" %>
            </li>
            <% Category.all.each do |category| %>
              <br/>
              <li>
                <%= link_to category.name, articles_path(category: category.name), class: "list-group-item" %>
              </li>
            <% end %>
          </ul>
        </div> 
      </div>
    </div>
  </body>
</html>

